body {background-color: beige;}

#guess {
	/*
	border-style: solid;
	border-width: 1px;
	*/
	margin-bottom: 20px;
	padding-left: 10px;
}

.action {
	width: 100px;
	margin-bottom: 5px;
}

.reset {
	width: 160px;
}